
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    padding: 20px;
}

nav a {
    color: cyan;
    margin-right: 15px;
    text-decoration: none;
}

form {
    background: #222;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

input, select { 
    width: 100%;
    padding: 8px;
}
img{
    width: 500px;
    height: 500px;
}